<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pseudo-clases</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <main class="mt-20 ml-28">
      <button class="disabled:opacity-50 transform hover:scale-110 motion-reduce:transform-none bg-green-300 px-4 py-4" disabled>Submit</button>
      <!-- <button disabled class="disabled:opacity-75 bg-blue-500">Submit</button> -->
    </main>
  </body>
</html>
